<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="style.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <title>AddDoctor</title>
</head>
<body>

<header>
    <h1>Wprowadź dane doktora</h1>
</header>

<main>
    <form action="/adddoc" method="get">
        <div th:text="${addMessage}"></div>

        <div>
            <label>Imię : </label>
            <input type="text" name="name" autofocus placeholder="Imię...">
        </div>

        <div>
            <label>Nazwisko : </label>
            <input type="text" name="surname"  placeholder="Nazwisko...">
        </div>

        <div>
            <label>Specjalizacja : </label>
            <input type="text" name="specialization"  placeholder="Specjalizacja...">
        </div>

        <div><input type="submit" value="Dodaj"></div>

    </form>
</main>

<a href="doctor.html"><h5>Wróć</h5></a>

<div th:insert="~{fragments/footer :: footer}">...</div>

</body>
</html>