<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="style.css">
    <title>AddDoctor</title>
</head>
<body>

<h1>Wprowadź dane doktora</h1>

<form action="/adddoc" method="get">
    <p th:text="${addMessage}"></p>

    <p><input type="text" name="name" autofocus value="imie"></p>
    <p><input type="text" name="surname" value="nazwisko"></p>
    <p><input type="text" name="specialization" value="specializacja"></p>
    <p><input type="submit" value="Dodaj"></p>
</form>

</body>
</html>