<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="style.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <title>addPatient</title>
</head>
<body>

<header>
    <h1> Wypełnij formularz</h1>
</header>
<br>

<main>
    <form action="/add" method="get">
        <div th:text="${addMessage}"></div>

        <div>
            <label for="name">Name: </label>
            <input type="text" id="name" name="name" placeholder="Imię..." autofocus><br>
        </div>

        <div>
            <label for="surname">Surname: </label>
            <input type="text" name="surname" id="surname" placeholder="Nazwisko...">
        </div>

        <div>
            <label for="email">Email: </label>
            <input type="text" name="email" id="email" placeholder="E-mail...">
        </div>

        <div><input type="submit" value="Dodaj"></div>

    </form>
</main>

<a href="addvisit.html"><h5>Dodaj wizytę</h5></a>
    <a href="patient.html"><h5>Cofnij</h5></a>

<div th:insert="~{fragments/footer :: footer}">...</div>

</body>
</html>