<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="index.css">
    <title>addVisit</title>
</head>
<body>
<h1>Dodaj wizytę</h1>

<form action="/addvis" method="get">

    <div><label>wybierz date : <input type="date" name="date"  value="2017-11-12"/></label></div>
    <div> <label>Wybierz godzinę : <input type="time" name="time"  value="12:00"/></label></div>

    <div> <select id="doctor" name="doctor">
             <option th:each="d : ${doctor}" th:value="${d.id}" th:text="${d}"></option>
    </select></div>
        <div><select id="patient" name="patient">
            <option th:each="p : ${patient}" th:value="${p.id}" th:text="${p}"></option>
     </select></div>

    <div><input type="submit"></div>

</form>
</body>
</html>