<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="style.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <title>AllDoctors</title>
</head>
<body>

<header>
    <h1>Wszyscy lekarze</h1>
</header>

<table>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Surname</th>
        <th>Specialization</th>
    </tr>

    <th:block th:each="doctor: ${doctors}">

        <tr>
            <td th:text="${doctor.getId()}"></td>
            <td th:text="${doctor.getName()}"></td>
            <td th:text="${doctor.getSurname()}"></td>
            <td th:text="${doctor.getSpecialization()}"></td>
        </tr>
    </th:block>
</table>

<a href="patient.html"><h5>Wróć</h5></a>

<div th:insert="~{fragments/footer :: footer}">...</div>

</body>
</html>