<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="style.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <title>allPatient</title>
</head>
<body>

<header>
<h1>Wszyscy pacjenci</h1>
</header>



<table>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Surname</th>
        <th>Email</th>
    </tr>

    <th:block th:each="patient: ${patients}">

        <tr>
            <td th:text="${patient.getId()}"></td>
            <td th:text="${patient.getName()}"></td>
            <td th:text="${patient.getSurname()}"></td>
            <td th:text="${patient.getEmail()}"></td>
        </tr>
    </th:block>
</table>

<a href="addpatient.html"><h5>Dodaj pacjęta</h5></a>
<a href="patient.html"><h5>Cofnij</h5></a>

<div th:insert="~{fragments/footer :: footer}">...</div>

</body>
</html>