<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="style.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <title>AllVisit</title>
</head>
<body>

<header>
    <h1>Wszystkie wizyty</h1>
</header>

<table>
    <tr>
        <th>Date</th>
        <th>Time</th>
        <th>Patient</th>
        <th>Doctor</th>
    </tr>

    <th:block th:each="visit: ${visits}">

        <tr>
            <td th:text="${visit.getDate()}"></td>
            <td th:text="${visit.getTime()}"></td>
            <td th:text="${visit.getPatient()}"></td>
            <td th:text="${visit.getDoctor()}"></td>
        </tr>
    </th:block>
</table>

<a href="doctor.html"><h5>Wróć</h5></a>

<div th:insert="~{fragments/footer :: footer}">...</div>

</body>
</html>