<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="style.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <title>Main</title>
</head>
<body>

<header>
    <h1>Wirtualny Recepcjonista</h1>
</header>

<br>
<div class="strefapacjeta"><a href="patient.html"><img src="/2.png"></a></div>
    <br>
<div class="strefalekarza"><a href="doctor.html"><img src="/1.png"></a></div>

<div th:insert="~{fragments/footer :: footer}">...</div>

</body>
</html>