<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="style.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <title>Patient</title>
</head>
<body>

<header>
    <h1>Witaj pacjencie!</h1>
</header>

<center>

    <div><a href="addpatient.html"><h3>Dodaj pacjęta</h3></a></div>
    <div><a href="addvisit.html"><h3>Umów wizytę</h3></a></div>
    <div><a href="allpatients.html"><h3>Wyświetln wszystkich pacjentów</h3></a></div>

    <a href="/"><label><h5>Wróć</h5></label></a>

    <div th:insert="~{fragments/footer :: footer}">...</div>

</center>
</body>
</html>