<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Patient</title>
    <link rel="stylesheet" href="index.css">
</head>
<body>

<center>
    <h1>Witaj pacjencie!</h1>

    <p><a href="addpatient.html"><label>Jesteś nowy? Wypełnij formularz aby zarejestrować sie w naszym systemie</label></a></p>
    <p><a href="addvisit.html"><label>Umów wizytę</label></a></p>
    <p><a href="allpatients.html"><label>Wyświetln wszystkich pacjentów</label></a></p>


</center>
</body>
</html>